<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpuniti
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false"
        bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Sumup">
            <directory suffix="Test.php">tests/Checkout</directory>
            <directory suffix="Test.php">tests/Customer</directory>
            <directory suffix="Test.php">tests/OAuth</directory>
            <directory suffix="Test.php">tests/Traits</directory>
            <directory suffix="Test.php">tests/Utils</directory>
            <file>tests/ContextTest.php</file>
            <file>tests/SumUpTest.php</file>
        </testsuite>

        <!-- Payum suite -->
        <testsuite name="Payum">
            <directory suffix="Test.php">tests/Payum</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
			<exclude>
                <directory>./vendor/</directory>
                <directory>./tests/</directory>
			</exclude>
        </whitelist>
    </filter>
    <logging>
        <!--<log type="coverage-html" target="build/html"/>-->
        <log type="coverage-clover" target="build/clover.xml"/>
    </logging>
</phpuniti>
