{% extends 'base.html.twig' %}
{% block title %}SumUp Test{% endblock %}

{% block body %}
	<h3> SumUp SDK Test App </h3>
	<ul>
		<li>
			<a href="{{ authorization_url }}">SumUp Autorize</a>
		</li>
		<li>
			<a href="{{ path('sumup_token') }}">Get Token</a>
		</li>
		<li>
			<a href="{{ path('sumup_checkout') }}">Checkout</a>
		</li>
        <li>
            Payum
            <ul>
                <li>
                    <a href="{{ path('sumup_payum_payment') }}">Create Payment</a>
                </li>
            </ul>
        </li>
	</ul>
{% endblock %}
